footer
    .container
        p Built by #[a(href="http://twitter.com/iammurendeni", target="_blank", rel="noopener noreferrer") Murendeni Mukwevho]. Not Affiliated with #[a(href="https://www.onedayonly.co.za/", target="_blank", rel="noopener noreferrer") OneDayOnly Offers (Pty) Ltd.]