nav.pt-4
    .container.clearfix
        .logo-wrapper.float-md-left
            figure.m-0
                img(src="/cdn/images/logo.svg", alt="Onedayonly Refined", class="w-100")
            .subtitle refined
        ul.head-nav.float-md-right.m-0.p-0
            li.nav-item
                a(href="/") Daily Sale
            li.nav-item
                a(href="/clearance") Clearance Sale
            li.nav-item
                a(href="/about") About
            li.nav-item.hidden
                a(href="https://github.com/mukwevhom/odo-refined") Github