nav.pt-4
    .container.clearfix
        .logo-wrapper.float-left
            figure.m-0
                img(src="https://odo.imgix.net/resources/images/website/logo.svg?auto=compress,format", alt="Onedayonly Refined", class="w-100")
            .subtitle refined
        ul.head-nav.float-right.m-0.p-0
            li.nav-item
                a(href="/") Daily Sale
            li.nav-item
                a(href="/clearance") Clearance Sale