extends layout.pug

block vars
  - var bodyClass = 'clearance-page';

block content
    section.section-wrapper
        .container
            #sort-by
            #searchbox
            #hits
            #pagination