extends layout.pug

block vars
  - var bodyClass = 'clearance-page';

block content
    section.section-wrapper
        .container
            #searchFilter.mt-5.d-flex.flex-md-row.flex-column
                #searchbox
                #sort-by
            #hits
            #pagination