extends layout.pug

block vars
  - var bodyClass = 'home';

block content
    section.section-wrapper
        .container
            #searchFilter.d-flex.mt-5.flex-md-row.flex-column
                #searchbox
                #sort-by
            #hits
            #pagination