@import url(/cdn/stylesheets/normalise.css);

/* Nav */
.logo-wrapper {
    background-color: #0083c3!important;
    width: fit-content;
}

.logo-wrapper figure {
    width: 90px;
}

.logo-wrapper .subtitle{
    line-height: 1;
    height: fit-content;
    font-size: 33px;
    color: #fff;
}

.head-nav .nav-item {
    display: inline-block;
}

.head-nav .nav-item + .nav-item {
    margin-left: 21px;
}

.head-nav .nav-item a {
    font-size: 30px;
    color: #0083c3;
}

.head-nav .nav-item a:hover {
    color: #ec2e5e;
}

section.section-wrapper {
    padding: 72px 0;
}

/* Search Bar */
.search-wrapper form {
    padding: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 2px 4px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid transparent;
}

.search-wrapper .feather{
    stroke:#7777768a;
}

#inSearch,
.inSearch {
    flex: 1;
    background-color: transparent;
    padding: 0 9px;
    border: none;
    height: 24px;
    font-size: 18px;
}

#searchFilter #searchbox {
    flex: 1;
}

#searchFilter .ais-SortBy-select {
    height: inherit;
    font-size: 18px;
    background-color: #fff;
    border: 2px solid #0000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

/* Pagination */
#pagination {

}

.ais-Pagination-list {
    margin: 0;
    text-align: center;
}

.ais-Pagination-item {
    display: inline;
    margin: 0 3px;
}

.ais-Pagination-link {
    font-size: 18px;
    line-height: 1;
    padding: 3px;
    display: inline-block;
    color:var(--mb-black) !important;
}

.ais-Pagination-item.ais-Pagination-item--selected .ais-Pagination-link {
    background-color: var(--mb-black) !important;
    color: #fff !important;
    width: 21px;
    border-radius: 3px;
}

.ais-Pagination-item--previousPage .ais-Pagination-link,
.ais-Pagination-item--nextPage .ais-Pagination-link {
    text-decoration: underline;
}

/* Product */
.product-wrapper .product-image {
    border-radius: 6px;
    overflow: hidden;
}

.product-wrapper .product-image .product-savings {
    top: 0;
    right: 0;
    color: #fff;
    background: #ec2e5e;
    padding: 9px;
    font-size: 18px;
    border-bottom-left-radius: 6px;
}

.product-wrapper .product-image .product-savings:before {
    content: "SAVE";
    display: inline-block;
    margin-right: 6px;
}

.product-info .product-title {
    font-size: 18px;
    color: #000;
    margin-bottom: 6px;
    text-decoration: none;
    display: block;
}

.product-pricing {
    font-size: 21px;
    color: #000;
    font-weight: 700;
}

.product-pricing .retail-pricing {
    text-decoration: line-through;
    opacity: .6;
}

.product-pricing.soldout {
    opacity: .4;
}

.product-pricing.soldout + .soldout-note {
    font-size: 21px;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 700;
    color: #ec2e5e;
}

@media (max-width:767px) {
    .logo-wrapper {
        margin: 0 auto;
    }
    .head-nav {
        margin: 18px 0 0 !important;
        text-align: center;
    }
    #searchFilter {
        margin: 0 !important;
    }
    #sort-by {
        margin-top: 18px;
    }

    #sort-by .ais-SortBy {
        padding-left: 1rem;
    }

    #sort-by .ais-SortBy .ais-SortBy-select {
        width:100%;
        padding: 9px;
    }
}