@import url(/cdn/stylesheets/normalise.css);

section.section-wrapper {
    padding: 72px 0;
}

/* Search Bar */
.search-wrapper form {
    padding: 9px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 2px 4px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid transparent;
}

.search-wrapper .feather{
    stroke:#7777768a;
}

#inSearch,
.inSearch {
    flex: 1;
    background-color: transparent;
    padding: 0 9px;
    border: none;
    height: 24px;
    font-size: 18px;
}

/* Pagination */
#pagination {

}

.ais-Pagination-list {
    margin: 0;
    text-align: center;
}

.ais-Pagination-item {
    display: inline;
    margin: 0 3px;
}

.ais-Pagination-link {
    font-size: 18px;
    line-height: 1;
    padding: 3px;
    display: inline-block;
    color:var(--mb-black) !important;
}

.ais-Pagination-item.ais-Pagination-item--selected .ais-Pagination-link {
    background-color: var(--mb-black) !important;
    color: #fff !important;
    width: 21px;
    border-radius: 3px;
}

.ais-Pagination-item--previousPage .ais-Pagination-link,
.ais-Pagination-item--nextPage .ais-Pagination-link {
    text-decoration: underline;
}

/* Product */
.product-wrapper .product-image {
    border-radius: 6px;
    overflow: hidden;
}

.product-wrapper .product-image .product-savings {
    top: 0;
    right: 0;
    color: #fff;
    background: #ec2e5e;
    padding: 9px;
    font-size: 18px;
    border-bottom-left-radius: 6px;
}

.product-wrapper .product-image .product-savings:before {
    content: "SAVE";
    display: inline-block;
    margin-right: 6px;
}

.product-info .product-title {
    font-size: 18px;
    color: #000;
    margin-bottom: 6px;
    text-decoration: none;
    display: block;
}

.product-pricing {
    font-size: 21px;
    color: #000;
    font-weight: 700;
}

.product-pricing .retail-pricing {
    text-decoration: line-through;
    opacity: .6;
}

.product-pricing.soldout {
    opacity: .4;
}

.product-pricing.soldout + .soldout-note {
    font-size: 21px;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 700;
    color: #ec2e5e;
}